@model IEnumerable<Core.Dtos.QuoteDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Citas</h1>
<table class="table table-hover table-responsive table-striped" id="MyTable">
    <thead>
        <tr>
            <th>
                Nurse
            </th>
            <th>
                Doctor
            </th>
            <th>
                Patient
            </th>
            <th>
                Medical History
            </th>
            <th>
                Date
            </th>
            <th>
                Hour
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Nurse.FullName
                </td>
                <td>
                    @item.Doctor.FullName
                </td>
                <td>
                    @item.MedicalHistory.Patient.FullName
                </td>
                <td width="25%">
                    @item.MedicalHistory.Expedient
                </td>
                <td>
                    @item.DateTime.ToString("MM/dd/yyyy")
                </td>
                <td>
                    @item.Hour
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_Alert" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();
        });
    </script>
}